@import "variables";

.card-border{
    border: 0px;
}
.card-course-item {
    margin-top: 16px;
}
.card-img-radius{
    border-radius: 12px;
}

.user-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.user-log-out {
    color: red;
}
