<div class='mt-4'>
  <form method='POST'>
    <div class=''>
      <input type='text' name='q' class='form-control' placeholder='Search' />
    </div>
    <div class=''>
      <label for='gender-input'>Select Gender</label>
      <select name='gender' class='form-control' id='gender-input'>
        <option value='noselect'> -- Chọn giới tính -- </option>
        <option value='male'>Nam</option>
        <option value='female'>Nữ</option>
      </select>

    </div>

    <button class='btn' type='submit'>Enter</button>
  </form>

</div>